main {
  border: 2px solid;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(6, 100px);

  grid-template-areas:
  "display display display display"
  "C C C divide"
  "seven eight nine multiply"
  "four five six minus"
  "one two three plus"
  "neg zero comma equal";
}

.btn-1{
  grid-area: one;
}

.btn-2{
  grid-area: two;
}

.btn-3{
  grid-area: three;
}

.btn-4{
  grid-area: four;
}

.btn-5{
  grid-area: five;
}

.btn-6{
  grid-area: six;
}

.btn-7{
  grid-area: seven;
}

.btn-8{
  grid-area: eight;
}

.btn-9{
  grid-area: nine;
}

.btn-0{
  grid-area: zero;
}

.btn-C{
  grid-area: C;
}

.btn-multiply{
  grid-area: multiply;
}

.btn-divide{
  grid-area: divide;
}

.btn-minus{
  grid-area: minus;
}

.btn-plus{
  grid-area: plus;
}

.btn-equal{
  grid-area: equal;
}

.btn-neg{
  grid-area: neg;
}

.btn-comma{
  grid-area:comma;
}

.display{
  grid-area: display;
  border: 2px solid;
  font-size: 40px;
}